img {
  margin: 25px 0 0 50px;
  width: 200px;
  object-fit: cover;
}

mat-card-header {
  justify-content: center;
}

p {
  margin: 0 10px 10px 10px;
}

.card {
  width: 300px;
  display:inline-flex;
  margin: 15px 5px 5px 15px;
  background-color: #cfae5a;
}

.form {
  text-align: center;
  justify-content: center;
}

button {
  margin-top: 1rem;
  margin-left: 75px;
  margin-bottom: 1rem;
  width: 50%;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
