<mat-nav-list class="nav-list">
  <a mat-list-item routerLink="home">
    <i class="material-icons">home</i>
    <label for="">Home</label>
  </a>
  <a mat-list-item routerLink="series">
    <i class="material-icons">view_cozy</i>
    <label>Series</label>
  </a>
  <a mat-list-item routerLink="movies">
    <i class="material-icons">movie</i>
    <label>Movies</label>
  </a>
  <a mat-list-item class="botton-icon">
    <i class="material-icons">logout</i>
    <label>Logout</label>
  </a>
</mat-nav-list>
