.nav-list a {
  color: #fff;
  width: 100%;
}

.nav-list i {
  color: #fff;
  margin-right: 0.6rem;
  vertical-align: middle;
}

.nav-list label {
  color: #fff;
  font-size: 0.8rem;
}

.botton-icon {
  margin-top: 750px;
}
